{% extends 'base.html' %}

{% block titre %}
    bienvenue
{% endblock %}

{% block content %}
    {% if reponse %}
        <h2>Bonjour {{ qui }}, vous êtes autorisés aux modifications suivantes : </h2>

        <a href = "{{url_for('ajouter_bus')}}">ajouter un bus</a>
        <a href = "{{url_for('modifier_bus')}}">modifier un bus</a>
        <a href = "{{url_for('supprimer_bus')}}">supprimer un bus</a>
        

    {% else %} 
        <h2> Vous n'avez pas les droits </h2>
    {% endif %}
    <div id="mapage">

        <a href="{{ url_for('index') }}">Accueil</a>
    </div> 
{% endblock %}

