{% extends 'base.html' %}

{% block titre %}
    bienvenue
{% endblock %}

{% block content %}
    {% if reponse %}
        <h2>Bonjour {{ qui }}, vous êtes autorisés aux modifications suivantes : </h2>

        <button><a href = "{{url_for('ajouter_bus')}}">ajouter un bus</a></button>
        <button><a href = "{{url_for('modifier_bus')}}">modifier un bus</a></button>
        <button><a href = "{{url_for('supprimer_bus')}}">supprimer un bus</a></button>
        

    {% else %} 
        <h2> Vous n'avez pas les droits </h2>
    {% endif %}
    <div id="mapage">
        <button><a href="{{ url_for('index') }}" class="button">Accueil</a></button>
         </div>
{% endblock %}

