{% extends 'base.html' %}
{% block content %} 
    <h1>{% block title %} Bienvenue sur Breizhibus ! {% endblock %}</h1>
    <a href="{{url_for('client')}}" style="color:#FF0000;">Les lignes de bus</a>
    <a text = "-------------">-------------</a>
    <a href="{{url_for('formuler')}}" style="color:#FF0000;">Connexion</a>
    <p>
        <img style= "border:4px solid black" src="../static/bus_image.JPG" alt="image de bus" class="center" width="100%" height="50%">
    </p>
           
{% endblock %}
